.root {
    min-width:  205px;
    max-width: 200px;
    display: inline-flex;
    padding: 20px;
    display: inline-block;
    max-height: 400px;
    min-height: 200px;
}
.container {
    display: flex
}
.pestImage {
    height: 200px;
    width: 150px;
    inline-size: auto;
    height: 50%;
    width: 50%;
}